*{
margin: 0;
    padding: 0;
    font-family: Monospace;
  }
  body {
    background-color: #f2f2f2;
  }
   #countDown {
    background-color:#1d9b65; 
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    border-radius:5px;

    margin: 20px ;
   } 
   .flex-center {
   display: grid;
   grid-template-columns: repeat(4,1fr);
   }
   strong {
     font-size: 0.8rem;
   }
   .grid {
     display: grid;
     background-color: white;
     color:#252525;
   margin:5px;
   padding: 5px;
   border-radius:5px;
   }
   .tac {
     text-align: center;
   }
   header {
     margin:50px 0 50px 0;
   }
   .sizes-1-8rem {
     font-size: 1.8rem;
   }
   .sizes-1rem{
     font-size: 1rem;
   }
   footer {
     text-align: center;
   }
   a {
     color:#1d9b65;
   }
